<app-navbar></app-navbar>
<section class="contact-section">
  <div class="section-bg-overlay"></div>
  <div class="contact-container">
    <div class="content">
      <h1 class="ordibee-font left-line-title">Commencer</h1>
      <p class="subtitle">Nous aidons votre entreprise à se développer.</p>
    </div>

    <div class="form-container">
      <div class="left-section">
        <div class="info-card">
          <p class="description">
            Nous sommes spécialisés dans la création de sites web sur mesure,
            l'analyse des données et la gestion des réseaux sociaux.
            Notre mission est de renforcer votre présence en ligne tout en optimisant l'efficacité de vos opérations,
            grâce à des solutions personnalisées qui garantissent une expérience utilisateur fluide.
          </p>
          <div class="contact-info">
            <h2>Contactez-nous</h2>
            <div class="contact-details">
              <div class="contact-item">
                <i class="fas fa-phone"></i>
                <p>Téléphone : +212 706 296 134</p>
              </div>
              <div class="contact-item">
                <i class="fas fa-envelope"></i>
                <p>E-mail :{{email}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="right-section">
        <div class="form-card">
          <form>
            <div class="input-group">
              <input type="text" placeholder="Prénom" required>
              <input type="text" placeholder="Nom de famille" required>
            </div>

            <div class="input-group">
              <input type="email" placeholder="E-mail *" required>
              <input type="text" placeholder="Société">
            </div>

            <div class="input-group">
              <input type="tel" placeholder="Téléphone">
              <input type="text" placeholder="Intitulé de poste">
            </div>

            <button type="submit" class="submit-btn">Envoyer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

