<nav class="main-navbar">
  <img src="https://res.cloudinary.com/du1rqxwmr/image/upload/v1/luai6bfvueqt9iosmcku" alt="Logo" class="navbar-logo" />
  <div class="burger-menu" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="navbar-links" [class.open]="menuOpen">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">HOME</a>
    <a routerLink="/solution" routerLinkActive="active">SOLUTION</a>
    <a routerLink="/vision" routerLinkActive="active">VISION</a>
    <a routerLink="/contact" routerLinkActive="active">CONTACT</a>
  </div>
  <button class="btn-primary letsgo-btn" routerLink="/">LET'S GO</button>
</nav> 