<section class="home-s2-section" id="home-s2-section">
  <div class="section-bg-overlay"></div>
  <div class="container home-s2-container">
    <h2 class="ordibee-font home-s2-title left-line-title" [@slideInFromTop]>
      VITESSE SANS PRECEDENT
    </h2>
    <p class="home-s2-text" [@fadeInUp]>
      Offrez une navigation fluide et un design captivant à vos visiteurs.<br>
      Votre site sera conçu pour maximiser l'engagement et valoriser votre activité.
    </p>
    <button (click)="navigateTo('solution')" class="btn-primary home-s2-btn" [@fadeInUp]>
      en savoir plus
    </button>
  </div>
  <div class="home-s2-background-lines" [@backgroundAnimation]></div>
  <app-scroll-down-indicator (click)="scrollToSection()"></app-scroll-down-indicator>
</section>
